In [2]:
import pandas as pd
import numpy as np

In [3]:
rawData = pd.read_csv("/Users/mattheus/Documents/GitHub/getharley-challenge/6M-0K-99K.users.dataset.public.csv")
rawData.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,9006282053848196165,user,Suède,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,689,3205,106.83,8.9,se
3,-7154634866120535654,user,Turquie,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,tr
4,2858299215060733023,user,France,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,709,3205,106.83,8.9,fr

In [5]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98913 entries, 0 to 98912
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   identifierHash       98913 non-null  int64
 1   type                 98913 non-null  object
 2   country              98913 non-null  object
 3   language             98913 non-null  object
 4   socialNbFollowers    98913 non-null  int64
 5   socialNbFollows      98913 non-null  int64
 6   socialProductsLiked  98913 non-null  int64
 7   productsListed       98913 non-null  int64
 8   productsSold         98913 non-null  int64
 9   productsPassRate     98913 non-null  float64
 10  productsWished       98913 non-null  int64
 11  productsBought       98913 non-null  int64
 12  gender               98913 non-null  object
 13  civilityGenderId     98913 non-null  int64
 14  civilityTitle        98913 non-null  object
 15  hasAnyApp            98913 non-null  bool
 16  hasAndroidApp        98913 non-null  bool
 17  hasIosApp            98913 non-null  bool
 18  hasProfilePicture    98913 non-null  bool
 19  daysSinceLastLogin   98913 non-null  int64
 20  seniority            98913 non-null  int64
 21  seniorityAsMonths    98913 non-null  float64
 22  seniorityAsYears     98913 non-null  float64
 23  countryCode          98913 non-null  object
dtypes: bool(4), float64(3), int64(11), object(6)
memory usage: 15.5+ MB

In [7]:
rawData.describe()

,identifierHash,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,productsWished,productsBought,civilityGenderId,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears
count,9.891300e+04,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000,98913.000000
mean,-6.692039e+15,3.432269,8.425677,4.420743,0.093304,0.121592,0.812303,1.562595,0.171929,1.773993,655.732310,3063.771870,102.125583,8.510424
std,5.330807e+18,3.882383,52.839572,181.030569,2.050144,2.126895,8.500205,25.192793,2.332266,0.428679,7407.430369,168.298621,5.609735,0.467863
min,-9.223101e+18,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000,2852.000000,95.070000,7.920000
25%,-4.622895e+18,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,572.000000,2857.000000,95.230000,7.940000
50%,-1.337989e+15,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,694.000000,3196.000000,106.530000,8.880000
75%,4.616388e+18,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,702.000000,3201.000000,106.700000,8.890000
max,9.223331e+18,744.000000,13764.000000,51671.000000,244.000000,174.000000,100.000000,2635.000000,405.000000,3.000000,737028.000000,3205.000000,106.830000,8.900000